@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body{
    background:#fae5df;
    color:black;
    -webkit-font-smoothing: antialiased;
    font-family:'Mulish', sans-serif;
}

.comment__box{
    list-style-type: none;
    padding-left: 0;
    
}
.card{
    background-color:#ff843d;
    
}
.mainebnaya{
    color:rgb(153, 151, 151);
}

.comment h6{
    font-weight:600;
    
}

p{
    font-size: 16px;
    color:rgb(67, 67, 175);
}

.form-control{
    background-color:whitesmoke;
}
.comment{
    animation: something .6s ease forwards;
}
@keyframes something{
    0%{
        transform:translateY(-30px);
        opacity:0
    }

    100%{
        transform:translateY(0px);
        opacity:1
    }
}